<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/admin.css">
  <title>Admin Panel</title>
</head>
<body class="body">
  <header class="header">
    <h2 class="main-title">Admin Panel</h2>
    <nav>
      <a href="/" class="header-anchor">Home</a>
    </nav>
  </header>
  <main class="main-wrapper">
    <nav class="sidebar">
      <a class="sidebar-anchor">Add New Product</a>
      <a class="sidebar-anchor">Delete Product</a>
      <a class="sidebar-anchor">Product Requests</a>
      <a class="sidebar-anchor">Scrap</a>
    </nav>
    <div class="main">
      <div class="main-element" id="add-new-product">
        <form class="form" action="/admin/newproduct" method="POST">
          <legend class="legend">New Product to track</legend>
          <hr class="hr-full-width">
          <input class="input" type="text" name="url" id="new-product-url" placeholder="url">
          <input class="input" type="text" name="name" placeholder="Name Selector">
          <input class="input" type="text" name="price" placeholder="Price Selector">
          <input class="input" type="text" name="image" placeholder="Image Selector">
          <button class="btn btn-form">SUBMIT</button>
        </form>
      </div>
      <div class="main-element hidden">
        <form class="form delete-form" id="delete-product-form">
          <input class="input" id="delete-product-input" type="text" name="name" placeholder="Name">
          <button class="btn">Search</button>
        </form>
        <div class="form-output-container hidden" id="form-output-container">

        </div>
      </div>
      <!-- For showing users request. -->
      <div class="main-element hidden">
        <div class="form-output-container" id="form-output-container">
          <!-- Heading -->
          <div class="form-output">
            <p class="form-output-value">
              User Requests
            </p>
          </div>
          <% requests.forEach(request => { %>
            <!-- Showing all the requests. -->
            <div class="request-form">
              <p class="form-output-value">
                <%= request.name %>
              </p>
              <p class="form-output-value">
                <%= request.website %>
              </p>
              <p class="form-output-value">
                <%= request.link %>
              </p>
              <button class="request-btn request-btn-accept btn" value='<%=request._id%> <%=request.link%>'>Accept</button>
              <button class="request-btn btn-danger" value=<%=request._id%>>Reject</button>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="main-element hidden" id="scrap">

        <div class="form scrap-form">
        <!-- Following paragraph will hold status for scheduling -->
      <p class="misc-status" id="status"></p>
      <p class="misc-status">Run scheduling for every</p>
      <div class="settings-panel">
        <select class="select" onchange="createCronExpr()" name="" id="quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        <select class="select" onchange="createCronExpr()" name="" id="hour-or-minute">
          <option value="minutes">minutes</option>
          <option value="hourse">hours</option>
        </select>
      </div>
      <button class="btn scrap-btn" id="scrap-btn">Start Scrap</button>
      <div class="divider"></div>
      <button class="btn-2" id="stop-scrap-btn">Stop Scrap</button>

          
        </div>
      </div>
    </div>
  </main>
  <script type="text/javascript" src="/js/admin.js"></script>
</body>
</html>